* {
  box-sizing: border-box;
}

body {
  font-family: 'Lato', helvetica, sans-serif;
  padding: 0;
  margin: 0;
  background-color: #E5EAEC;
  color: #354A55;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}


/**
 * Helper classes
 */

.hide {
  display: none !important;
}

.show {
  display: block !important;
}

.light-grey {
  background-color: #ECF0F1
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: " ";
}

.clearfix:after {
  clear: both;
}


/**
 * Animations
 */

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.fade-in {
  -webkit-animation-name: fade-in;
  animation-name: fade-in;
}


/**
 * Application
 */

.main-container {
  width: 100%;
  margin: 0;
  padding: 0;
}

a, a:visited, a:active {
  color: #C0392B;
}

a:hover {
  transition: .25s linear;
  color: #E74C3C;
  border-bottom: 1px dotted #E74C3C;
}

/**
 * Header
 */

header {
  font-weight: 300;
  border-bottom: 1px solid #ccc;
  background-color: #ECF0F1;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 70px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

header h1 {
  font-size: 32px;
  margin: 0;
  line-height: 70px;
  font-weight: 300;
  border-right: 1px solid #ccc;
  padding: 0 15px;
  width: 220px;
  z-index: 10000;
  position: absolute;
}

header h1 a, header h1 a:visited, header h1 a:active {
  color: #354A55;
  text-decoration: none;
  border: none;
}

header h1 a:hover {
  color: #558fa5;
  border: none;
}

header nav {
  position: absolute;
  top: 0;
  right: 20px;
  color: #354A55;
  font-size: 26px;
  line-height: 70px;
  cursor: pointer;
  z-index: 100;
}

/**
 * Search
 */

header form {
  position: absolute;
  width: 100%;
  padding: 0 0 0 230px;
  top: 0;
}

.search-icon {
  font-size: 24px;
  line-height: 70px;
  margin-right: 10px;
  position: absolute;
}

.search label {
  margin-left: 35px;
  line-height: 70px;
  position: absolute;
}

.search label, .search input {
  font-size: 22px;
  font-weight: 300;
}

.search input {
  background-color: #ECF0F1;
  border: none;
  box-shadow: none;
  color: #354A55;
  font-family: 'Lato', helvetica, sans-serif;
  outline: none;
  vertical-align: middle;
  height: 69px;
  line-height: 30px;
  width: 100%;
  padding: 0 70px 0 106px;
}


/**
 * Content
 */

.content {
  width: 100%;
  margin-top: 111px;
}

.results, .greeting {
  margin-left: 220px;
}

.greeting {
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.greeting h2, .greeting h3, .greeting p {
  font-weight: 300;
  text-align: center;
}

.greeting h2 {
  font-size: 50px;
}

.greeting h3 {
  font-size: 28px;
}

.results ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.results li {
  width: 180px;
  height: 180px;
  padding: 10px;
  background-color: #f8f8f8;
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
}

.results .date, .results .location {
  display: block;
  text-align: center;
  font-weight: 300;
}

.results .date {
  margin-top: 30px;
  font-size: 24px;
}

.results .location {
  font-size: 14px;
}


@media all and (max-width: 750px) {
  header h1 {
    border-right: none;
  }

  header form {
    padding: 0 15px;
    top: 71px;
    border-bottom: 1px solid #ccc;
    background-color: #ECF0F1;
  }

  .search input {
    padding-right: 5px;
  }

  .content {
    width: 100%;
    margin-top: 111px;
  }

  .greeting, .results {
    width: 100%;
    margin-left: 0;
    padding: 0 20px;
  }

  .results ul {
    width: 200px;
    margin: 0 auto;
  }
}
